/*global*/
body {
    font: 15px/1.5 Arial, Courier New, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/*header*/
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    text-decoration: none;
    color: white;
}
header nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo {
    float: left;
}

/*in case we want a logo instead of text
header #logo img {
    margin-top: 0;
    width: 20%;
}*/

header #logo h2{
    margin: 0;
    font-size: 2em;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*Showcase*/
#showcase {
    min-height: 400px;
    background: url("../images/TornalaOnMap.png") #cccccc no-repeat center;
    background-size: contain;
    text-align: center;
    font-size: 150%;
    line-height: 100%;
}

#showcase .container h1 {
    margin-top: 120px;
}

/*Newsletter*/
#newsletter {
    padding: 20px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h2 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*Articles*/

article {
    margin-top: 20px;
    border: solid #e8491d 5px;
    background: #cccccc;
}

article h2 {
    font-size: 300%;
    margin: 0;
}

.articleTitle {
    background-color: #000000;
    color: white;
    text-transform: capitalize;
}

.articleImage img{
    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}

time {
    float: right;
    font-size: 30%;
    padding-top: 40px;
}

/*footer*/

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}