/*global*/
body {
    font: 15px/1.5 Arial, Courier New, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    .pofazas{
        margin-left: 25px;
    }
    #logo{
        margin-left: 25px;
    }
}
.container2 {
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}

/*header*/
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ff491d 3px solid;
}

header a {
    text-decoration: none;
    color: white;
}
header nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

header li {
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px;
    text-align: center;
}

header #logo {
    float: left;
}

/*in case we want a logo instead of text
header #logo img {
    margin-top: 0;
    width: 20%;
}*/

header #logo h2{
    margin: 0;
    font-size: 2em;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*Showcase*/
#showcase {
    min-height: 400px;
    width: 100%;
    background: url("../images/fokep.jpg") #cccccc no-repeat center;
    background-size: contain;
    text-align: center;
    font-size: 130%;
    line-height: 80%;
}
@media (max-width: 500px) {
    #showcase {
        min-height:200px;

    }
}

/*Newsletter*/
#newsletter {
    color: #ffffff;
    background: #35424a;
}

#newsletter h2 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button_1 {
    font-size:0.875em;
    /*display:block;*/
    float: right;
    left:-60px;
    margin-top:5px;
    margin-bottom: 5px;
    width:80%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ff491d;
}

/*Articles*/
article {
    margin-top: 20px;
    border: solid #e8491d 5px;
    background: #cccccc;
}

article h2 {

    font-size: calc(1.7em + 1.2vw);
    margin: 0;
}

.articleTitle{
    background-color: #000000;
    color: white;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}
.articleTitle h2{
    margin-left: 25px;
}

.articleImage img{
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.articleBegenning {
    margin-left: 10px;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: calc(0.5em + 0.7vw);
}

time {
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: calc(0.5em + 0.5vw);
}

/*footer*/

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

/*games*/
.gameImage img{
    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}

.gameTitle {
    background-color: #000000;
    color: white;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}

.game {
    float: left;
    width: 30%;
    margin-left: 2.5%;
    min-height: 600px;
}
